@use "../settings/mixin" as *;

.points {
  &__list {
    font-size: 16px;
    line-height: 1.5;
    @include mq(md) {
      max-width: 700px;
      font-size: 18px;
    }
  }
  &__item {
    position: relative;
    padding-left: 32px;
    @include mq(md) {
      padding-left: 40px;
    }
    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0.5em;
    font-size: 24px;
    color: var(--color-link);
    &.icon-star {
      color: var(--color-star);
    }
    &.icon-heart {
      color: var(--color-heart);
    }
  }
}
