@use "../settings/mixin" as *;

.profile {
  &__contents {
    display: grid;
    gap: 2em;
    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5em;
    }
  }
  &__main {
    padding: 1.5em;
    background-color: var(--color-main);
    border-radius: 1em;
  }
  &__data {
    @include mq(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
    @include mq(md) {
      margin-right: 2em;
      margin-left: 0;
    }
  }
  &__name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @include mq(md) {
      margin-top: 0;
      margin-bottom: 0;
    }
    br {
      @include mq(md) {
        display: none;
      }
    }
  }
  &__sns {
    font-size: 0.6em;
    @include mq(md) {
      display: inline-block;
      margin-left: 0.5em;
    }
  }
  &__twitter {
    margin-right: 0.25em;
    margin-left: 0.25em;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__text {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    @include mq(md) {
      margin-top: 16px;
    }
  }
  &__career {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 6em 1fr;
    font-size: 14px;
    line-height: 1.5;
    $title_width: 6em;
    @include mq(sm) {
      grid-template-columns: 7em 1fr;
    }
    dt {
      padding-left: 16px;
      font-family: var(--font-family-title);
      @include mq(sm) {
        padding-left: 24px;
      }
    }
    dd {
      padding-right: 16px;
      text-align: justify;
      @include mq(sm) {
        padding-right: 24px;
      }
    }
    dt,
    dd {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
      &:first-of-type {
        border-top: 1px solid #ccc;
      }
    }
  }
}
