@use "../settings/mixin" as *;

.profile {
  &--main {
    padding: 1.5em;
    background-color: var(--color-main);
    border-radius: 1em;
  }
  &--img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
  }
  &--name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  &--sns {
    font-size: 0.6em;
  }
  &--twitter {
    margin-right: 0.25em;
    margin-left: 0.25em;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &--text {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
  }
  &--career {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    font-size: 14px;
    line-height: 1.5;
    $title_width: 6em;
    dt {
      width: $title_width;
      padding-left: 16px;
      font-family: var(--font-family-title);
    }
    dd {
      width: calc(100% - #{$title_width});
      padding-right: 16px;
      text-align: justify;
    }
    dt,
    dd {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
      &:first-of-type {
        border-top: 1px solid #ccc;
      }
    }
  }

  @include mq(sm) {
    &--career {
      $title_width: 7em;
      dt {
        width: $title_width;
        padding-left: 24px;
      }
      dd {
        width: calc(100% - #{$title_width});
        padding-right: 24px;
      }
    }
  }
  @include mq(md) {
    &--contents {
      display: flex;
    }
    &--main,
    &--side {
      width: calc(50% - 16px);
    }
    &--side {
      margin-left: 32px;
    }
    &--data {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &--img {
      margin-right: 2em;
      margin-left: 0;
    }
    &--name {
      margin-top: 0;
      margin-bottom: 0;
      br {
        display: none;
      }
    }
    &--sns {
      display: inline-block;
      margin-left: 0.5em;
    }
    &--text {
      margin-top: 16px;
    }
    &--career {
      margin-top: 0;
    }
  }
}
