@use "../settings/mixin" as *;

.skills {
  &__title {
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    .skills__list + & {
      margin-top: 40px;
    }
  }
  &__list {
    display: grid;
    gap: 0.5em;
    margin-top: 8px;
    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 1.5em;
    background-color: var(--color-white);
    border-radius: 4px;
    @include mq(md) {
      display: block;
      padding: 2em 1.5em;
    }
  }
  &__icon {
    width: 80px;
    @include mq(md) {
      width: 100%;
      text-align: center;
    }
    i {
      font-size: 48px;
    }
  }
  &__data {
    width: calc(100% - 80px);
    @include mq(md) {
      width: 100%;
      margin-top: 16px;
    }
  }
  &__dt {
    font-family: var(--font-family-title);
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    @include mq(md) {
      text-align: center;
    }
  }
  &__comment {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.5;
    @include mq(md) {
      margin-top: 8px;
      font-size: 14px;
    }
  }
}
