@use "../settings/mixin" as *;

.works {
  &--list {
    display: flex;
    flex-wrap: wrap;
  }
  &--item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 4px;
    transition: opacity 0.5s, transform 0.5s, box-shadow 0.3s;
    &:hover {
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
    }
    &:not(:last-of-type) {
      margin-bottom: 2em;
    }
  }
  &--imgs {
    position: relative;
    height: 51.2vw;
    max-height: 15.5em;
    overflow: hidden;
    background-color: var(--color-main);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &--contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5em;
    line-height: 1.5;
  }
  &--img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
    }
    .works--item:hover & {
      transform: scale(1.1);
    }
  }
  &--more {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 18px;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
    .works--item:hover & {
      opacity: 1;
    }
    .icon-external-link {
      margin-left: 0.25em;
    }
  }
  &--role {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2em 1em;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-footer);
    border-top-right-radius: 2px;
  }
  &--tags {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
  }
  &--icon {
    font-size: 20px;
    &::before {
      color: var(--color-white);
    }
    &:not(:last-of-type) {
      margin-right: 0.5em;
    }
  }
  &--name {
    margin-bottom: 0.5em;
    font-size: 16px;
  }
  &--disc {
    flex-grow: 1;
    margin-bottom: 1em;
    font-size: 14px;
    text-align: justify;
  }
  &--data {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    &:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }
  &--dt {
    width: 5.5em;
    text-align: center;
    background-color: var(--color-sub);
    border-radius: 4px;
  }
  &--dd {
    width: calc(100% - 5.5em);
    padding-left: 0.5em;
  }
  &--link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @include mq(sm) {
    &--item {
      width: calc(50% - 1.5em / 2);
      &:nth-of-type(odd) {
        margin-right: 1.5em;
      }
      &:not(:last-of-type) {
        margin-bottom: 0;
      }
      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: 2em;
      }
    }
    &--imgs {
      height: 8.6em;
    }
  }
  @include mq(sm) {
    &--item {
      width: calc(50% - 2em / 2);
      &:nth-of-type(odd) {
        margin-right: 2em;
      }
    }
    &--imgs {
      height: 9.14em;
    }
    &--tags {
      padding: 0.25em 1em;
    }
  }
  @include mq(md) {
    &--item {
      width: calc(33.33% - 4em / 3);
      &:nth-of-type(odd) {
        margin-right: 0;
      }
      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: 0;
      }
      &:not(:nth-of-type(3n)) {
        margin-right: 2em;
      }
      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: 2em;
      }
    }
    &--imgs {
      height: 10.6em;
    }
  }
}
