@use "../settings/mixin" as *;

.footer {
  padding-top: 3em;
  padding-bottom: 6em;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-footer);
  &--title {
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }
  &--contact {
    margin-top: 3em;
    font-size: 14px;
    opacity: 0.8;
  }
  &--list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
  }
  &--item {
    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
  &--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 16px;
    color: var(--color-footer);
    background-color: var(--color-white);
    border-radius: 50%;
    transition: 0.3s;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &--copy {
    margin-top: 3em;
    font-family: var(--font-family-title);
    font-size: 14px;
    line-height: 1;
    opacity: 0.8;
  }
  &--btn {
    position: fixed;
    right: 16px;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    color: var(--color-white);
    background-color: var(--color-link);
    border-radius: 50%;
    &:hover {
      opacity: 0.4;
    }
    &::after {
      font-family: icomoon !important;
      content: "\e90a";
    }
  }
  @include mq(sm) {
    padding-top: 4em;
    padding-bottom: 4em;
    &--contact {
      br {
        display: none;
      }
    }
    &--btn {
      bottom: 16px;
    }
  }
}
