@use "../settings/mixin" as *;

.sec {
  padding-top: 3em;
  padding-bottom: 3em;
  &:nth-of-type(odd) {
    background-color: var(--color-base);
  }
  &__title {
    margin-bottom: 1em;
    font-family: var(--font-family-title);
    font-size: 24px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    @include mq(sm) {
      font-size: 34px;
    }
  }
  &__description {
    margin-bottom: 3em;
    font-size: 13px;
    text-align: center;
    @include mq(sm) {
      margin-bottom: 3em;
      font-size: 16px;
    }
  }
}
