// 色の設定
$colors: (
  main: #ffe578,
  sub: #fdefb4,
  base: #f6f3ee,
  font: #423a24,
  link: #f76b1c,
  footer: #433f37,
  star: #ffc107,
  heart: #e34f26,
  white: #fff,
  facebook: #3b5998,
  twitter: #1da1f2,
  mail: #d14836,
);

:root {
  --color-main: #ffe578;
  --color-sub: #fdefb4;
  --color-base: #f6f3ee;
  --color-font: #423a24;
  --color-link: #f76b1c;
  --color-footer: #433f37;
  --color-star: #ffc107;
  --color-heart: #e34f26;
  --color-white: #fff;
  --color-facebook: #3b5998;
  --color-twitter: #1da1f2;

  --letter-spacing-default: normal;
  --font-family-default: 游ゴシック体, "Yu Gothic", yugothic,
    "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, meiryo,
    osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --font-family-title: "Rajdhani", sans-serif;
  --font-size-base: 16px;

  --container-box-width-default: 440px;
  --container-box-width-sm: 552px;
  --container-box-width-md: 976px;

  --layer-header: 20;
  --layer-concept: 30;
}
