.js-fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: all .5s;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

#js-return_top {
  opacity: 0;
  transform: translateY(40px);
  transition: all .5s;
  &.show {
    opacity: .6;
    transform: translateY(0);
  }
}
