@use "../settings/mixin" as *;

html {
  font-size: 100%;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  font-weight: 400;
  font-feature-settings: "palt" 1;
  line-height: 1.75;
  color: var(--color-font);
  letter-spacing: var(--letter-spacing-default);
  word-wrap: break-word;
  border-color: var(--color-main);
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

i,
em {
  font-style: normal;
}

::-moz-selection {
  color: var(--color-font);
  text-shadow: none;
  background-color: var(--color-main);
}

::selection {
  color: var(--color-font);
  text-shadow: none;
  background-color: var(--color-main);
}

.js-preload * {
  transition: none !important;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  @include mq(sm) {
    width: calc(100% - 48px);
  }
}

.container-box {
  width: calc(100% - 32px);
  max-width: var(--container-box-width-default);
  margin: 0 auto;
  @include mq(sm) {
    width: calc(100% - 48px);
    max-width: var(--container-box-width-sm);
  }
  @include mq(md) {
    max-width: var(--container-box-width-md);
  }
}
