section#concept.concept
  .concept__main
    h1.concept__title #{pageTitle}
    p.concept__occupation !{occupation}
    a.concept__btn(href="#points",  aria-label="スクロールする")
    ul.concept__list
      - for (var i = 0; i < gnav.length; i++)
        li.concept__item
          a.concept__link(href=gnav[i]['url']) #{gnav[i]['title']}
