- var sectionTitle = 'Points';
- var sectionDescription = 'お客様の想い・ユーザビリティを意識し、<br>品質の高いコーディングを目指します。';
-
  var points = [
    {
      icon: 'star',
      comment: 'メンテナンス性を考慮したHTML/CSSコーディングを行います。'
    },
    {
      icon: 'star',
      comment: '使いやすい管理画面を意識したWordPressテーマ作成を行います。'
    },
    {
      icon: 'star',
      comment: 'Angular, React.js などフロントエンドフレームワークを用いた開発経験があります。'
    },
    {
      icon: 'heart',
      comment: '自分がどんな形でチームに貢献できるか意識しながらコミットします。'
    },
    {
      icon: 'heart',
      comment: '韓国語サイトの閲覧、韓国語の入力ができます。'
    },
  ];

section#points.sec.points
  +sectionTitle(sectionTitle)
  +sectionDiscription(sectionDescription)

  ul.container-box.points__list
    each point in points
      li.points__item
        i(class='points__icon icon-' + point.icon)
        | !{point.comment}
