- var privacyContents = '当サイトでは、ユーザーのご利用状況を把握するために、Googleアナリティクスを利用しています。<br>Googleアナリティクスは、ファーストパーティクッキーを利用して、当サイトへのアクセス情報を個人を特定することなく収集します。<br>この機能は、Cookieを無効にすることで拒否することができます。Cookieに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。';
section.privacy
  .container-box
    p.privacy--contents !{privacyContents}
