- var sectionTitle = 'Skills';
- var sectionDescription = '下記の技術を用いた開発が可能です。';
-
  var skills = [
    {
      title: 'Developer tools',
      contents: [
        {
          icon: 'visualstudiocode',
          title: 'VSCode',
          level: 4,
          comment: 'コーディング時に採用しているエディタは、VSCodeです。'
        },
        {
          icon: 'git',
          title: 'Git',
          level: 3,
          comment: 'チーム開発にて、Github,Backlog,Bitbucketを利用した経験があります。'
        },
        {
          icon: 'gulp',
          title: 'gulp',
          level: 3,
          comment: '静的サイトの開発環境構築は、GulpとWebpaackを採用しています。'
        },
      ],
    },
    {
      title: 'Mark up',
      contents: [
        {
          icon: 'html5',
          title: 'HTML5',
          level: 5,
          comment: 'プリプロセッサには、案件によって、EJS或いはPugを採用しています。'
        },
        {
          icon: 'css3',
          title: 'CSS3',
          level: 5,
          comment: 'メンテナンス性やデザイン設計を意識したコーディングを心がけています。SCSSを採用しています。'
        },
      ],
    },
    {
      title: 'JavaScript',
      contents: [
        {
          icon: 'javascript',
          title: 'JavaScript',
          level: 3,
          comment: 'フレームワークにjQuery, vue.js, react.jsを採用した開発経験もあります。'
        },
        {
          icon: 'typescript',
          title: 'TypeScript',
          level: 1,
          comment: 'AngularでのWebアプリ開発を行う過程で学習しました。'
        },
        {
          icon: 'angular',
          title: 'Angular',
          level: 1,
          comment: 'Angular案件への参画経験があります。'
        },
      ],
    },
    {
      title: 'PHP',
      contents: [
        {
          icon: 'php',
          title: 'PHP',
          level: 2,
          comment: 'WordPressでのテーマ開発時に必要になる基本的な構文について習得しました。'
        },
        {
          icon: 'wordpress',
          title: 'WordPress',
          level: 5,
          comment: 'ポータルサイトのテーマ作成経験、Gutenbergブロック開発経験があります。'
        },
      ],
    },
    {
      title: 'Design Tools',
      contents: [
        {
          icon: 'adobeillustrator',
          title: 'Illustrator',
          level: 5,
          comment: '基本的な操作とコーディングの際に必要な情報の抜き出し、画像の適切な書き出しを行うことができます。',
        },
        {
          icon: 'adobephotoshop',
          title: 'Photoshop',
          level: 3,
          comment: 'コーディングの際に必要な情報の抜き出し、画像の適切な書き出しを行うことができます。',
        },
        {
          icon: 'adobexd',
          title: 'Adobe XD',
          level: 3,
          comment: '基本的な操作を行うことができます。'
        },
      ],
    }
  ];

section#skills.sec.skills
  +sectionTitle(sectionTitle)
  +sectionDiscription(sectionDescription)

  .container-box.skills--contents
    each skill in skills
      h3.skills--title #{skill.title}
      .js-fadein.skills--list
        each data in skill.contents
          .skills--item
            .skills--icon
              i(class='icon-'+data.icon)
            dl.skills--data
              dt.skills--dt #{data.title}
              dd.skills--comment !{data.comment}
